{% extends 'base.html.twig' %}

{% block body %}<div id='reactRoot'></div>{% endblock %}

{% block javascripts %} 
<script src="{{ asset('js/react/vendor.bundle.js') }}" language="javascript" type="text/javascript"></script>
{% endblock %}