{% extends 'base.html.twig' %}

{% block title %} Welcome to cool block! {% endblock %}

{% block body %}
<h1>Welcome to cool blog</h1>
{% endblock %}

{% block javascripts %}
<script type="text/babel" src="{{ asset('js/react/home.bundle.js') }}"></script>
{% endblock %}